*{
  font-size: 20px;
}
header{
  background-color: orange;
  margin: auto;
  display: flex;
  height: 100px;
  align-items: end;
  justify-content: space-between; /* espaço igual entre elementos */
}

header h1{
color: black;
}

header ul li a{
  color: white;
  text-decoration: none;auto
  font-weight: bold;
}

nav ul li{
  display: inline;
  margin: 10px;
}

nav ul li a:hover {
  text-decoration: underline;
}

main{
  background-color: #FEFEFE;
  margin: auto;
  padding: 20px;
  border-radius: 30px;
  width: 1100px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main a{
  color: #1a59ac;
  text-decoration: none;
}
main a:hover{
text-decoration: underline  ;
}
main h2, h3{
  color: orange;
}

.imagens img {
  display: inline;
  width: 50px;
  padding: 5px;
}

.livros li{
  text-align: justify;
  padding: 5px;
}

.conhecimentos{
  margin: auto;
  width: 1140px;
  padding: 30px;
  color: white;
}
.conhecimentos li{
  text-decoration: none;

}
.conhecimentos h1{
  color: white;
}

body{
  margin: auto;
  text-align: justify;
  background-color: #282B33;
  font-family: monospace;
  color: white;
}
 
p{
  text-align: justify;
  padding: 20px;
}
h1{
  text-align: center;
  padding: 25px;
  font-size: 45px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 20px;
}