<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
    <h1>E ai, Luan aqui!</h1>
    <p>Eu sou o luan, atualmente cursando Engenharia de Software e trabalhando em uma escola como auxiliar de recreação.</p>
    <p>Estou em busca do primeiro emprego, porém, antes de conseguir eu estou desenvolvendo projetos pessoais e trabalhando como freelancer para ganhar experiência e portifólio.</p>
    <h2>Conhecimento:</h2>
    <la>
        <li>Python: Avançado</li>
        <ul type="circle">
            <li> -Sintaxe e variáveis</li>
            <li> -Tipos, listas, tuplas, dicionários.</li>
            <li> -Condições e loops</li>
            <li> -Funções e argumentos</li>
        </ul>
        <li>Banco de Dados (MySQL): Básico</li>
        <ul type="circle">
            <li> -Criar Banco de dados, configurar e gerenciar tabelas.</li>
            <li> -Hospedar banco de dados na nuvem.</li>
            <li> -CRUD</li>
            <li> -Sintaxe</li>
        </ul>
        <li>HTML e CSS: Intermediário.</li>
        <p></p>
    </la>
</body>
</html>